/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500;600;700&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(270deg, #BA02FD 0%, #8C00DB 50%, #5225EE 100%);
  --gradient-bar: linear-gradient(270deg, #BA02FD 0%, #8C00DB 50%, #5225EE 100%);
  --gradient--img:linear-gradient(270deg, #BA02FD 0%, #8C00DB 50%, #5225EE 100%);
  --background-img: linear-gradient(270deg, #745BFF 0%, #5225EE 100%);

  --color-bg: #FFFFFF;
  --color-footer : #5225ee;
  --color-blog: #042c54;
  --color-text: #474c72;
  --color-subtext: #FF8A71;


  --gray_50_01:#f6fbff; 
  --gray_900_14:#0e154014; 
  --blue_A200:#3e7cf9; 
  --gray_50:#fbfbfa; 
  --pink_A100:#ff57d0; 
  --teal_600:#019873; 
  --gray_900_4c:#0f12194c; 
  --purple_A700:#ba02fd; 
  --deep_purple_A400:#5225ee; 
  --blue_gray_700:#474c72; 
  --deep_purple_A100:#a594ff; 
  --deep_purple_A200:#745bff; 
  --deep_purple_A700:#8c00db; 
  --teal_A700:#02be89; 
  --teal_A700_01:#00ce94; 
  --orange_A200:#ffa34e; 
  --amber_500:#fdba17; 
  --blue_gray_300:#8d98c6; 
  --gray_900:#0e1540; 
  --gray_900_01:#222222; 
  --gray_100:#eef6fd; 
  --deep_purple_A700_01:#3808dc; 
  --indigo_A700:#1248f3; 
  --blue_300:#56ade4; 
  --indigo_900:#110083; 
  --black_900_19:#00000019; 
  --black_900_14:#00000014; 
  --white_A700:#ffffff; 
}